<!DOCTYPE html>
<html>
<head>
	<title>00高密度矿石矿物计算器</title>
</head>
<body>
	<h3>00高密度矿石矿物计算器</h3>
	<p>只支持如下矿石：艾克诺岩Arkonor 黑赭石Dark Ochre 灰岩Spodumain 克洛基石Crokite 双多特石 Bistot 片麻岩 Gneiss</p>
	<p>相关数据请查看此文档： <a href="https://docs.qq.com/sheet/DWFVicFRSeHBFWFlu?tab=BB08J2&c=A1A0A0">https://docs.qq.com/sheet/DWFVicFRSeHBFWFlu?tab=BB08J2&c=A1A0A0 </a>，数据如有误请反馈</p>
	<p>没有设置已有矿石数量，请根据结果自行计算</p>
	<p>计算器根据evemarketer市场计算出满足矿物需求的最低价矿石花费参考，而非溢出矿物最少。</p>
	<p>最终计算的矿物为表2所填矿物+表3中组件经由表1材料减免后的矿物</p>
	<br>
	<form action="/ec2/" method="post">
		{% csrf_token %}
		<table><b>材料减免百分比</b>
	<tr>
		<td>精炼率（%）：</td>
		<td><input type="text" name="jinglianlv" value="89"></td>
	</tr>
	<tr>
		<td>组件图纸材料效率（%）：</td>
		<td><input type="number" name="tuzhicailiao" value="10" min="0" max="10"></td>
	</tr>
	<tr>
		<td>建筑插加成（%）：</td>
		<td><select name="jianzhucha">
			<option value="0">0</option>
			<option value="4.2" selected="">4.2</option>
			<option value="5.04">5</option>
		</select></td>
	</tr>
	<tr>
		<td>建筑特有加成（%）：</td>
		<td><input type="number" name="jianzhu" value="1" min="0" max="10"></td>
	</tr>
</table>
<br>
	<table><b>请输入所需矿物</b>
		<br>
<tr>
<td>三钛合金Tritanium：</td><td><input type="number" name="santai" value="0"></td>
</tr><tr>
	<td>同位聚合体Isogen：</td><td><input type="number" name="tongwei" value="0"></td>
</tr><tr>
	<td>晶状石英Zydrine：</td><td><input type="number" name="jingzhuang" value="0"></td>
	</tr><tr>
	<td>类晶体Pyerite：</td><td><input type="number" name="leijing" value="0"></td>
	</tr><tr>
	<td>类银Mexallon：</td><td><input type="number" name="leiyin" value="0"></td>
	</tr><tr>
	<td>超噬矿Megacyte：</td><td><input type="number" name="chaoshi" value="0"></td>
	</tr><tr>
	<td>超新星Nocxium：</td><td><input type="number" name="chaoxin" value="0"></td>
</tr>
</table>
<br>

<table><b>旗舰组件计算（和上方矿物不冲突）</b>
	<tr>
		<td>旗舰组件</td>
		<td>所需数量</td>
	</tr>
	<tr><td>旗舰推进引擎Capital Propulsion Engine</td><td><input type="number" name="qj0" value="0" min="0"></td></tr>
<tr><td>旗舰炮台挂点 Capital Turret Hardpoint</td><td><input type="number" name="qj1" value="0" min="0"></td></tr>
<tr><td>旗舰感应器组Capital Sensor Cluster</td><td><input type="number" name="qj2" value="0" min="0"></td></tr>
<tr><td>旗舰附甲Capital Armor Plates</td><td><input type="number" name="qj3" value="0" min="0"></td></tr>
<tr><td>旗舰电容器电池Capital Capacitor Battery</td><td><input type="number" name="qj4" value="0" min="0"></td></tr>
<tr><td>旗舰发电机组Capital Power Generator</td><td><input type="number" name="qj5" value="0" min="0"></td></tr>
<tr><td>旗舰护盾发射器Capital Shield Emitter</td><td><input type="number" name="qj6" value="0" min="0"></td></tr>
<tr><td>旗舰跳跃引擎Capital Jump Drive</td><td><input type="number" name="qj7" value="0" min="0"></td></tr>
<tr><td>旗舰无人机挂舱Capital Drone Bay</td><td><input type="number" name="qj8" value="0" min="0"></td></tr>
<tr><td>旗舰计算机系统Capital Computer System</td><td><input type="number" name="qj9" value="0" min="0"></td></tr>
<tr><td>旗舰建设构件Capital Construction Parts</td><td><input type="number" name="qj10" value="0" min="0"></td></tr>
<tr><td>旗舰跳跃桥接阵列Capital Jump Bridge Array</td><td><input type="number" name="qj11" value="0" min="0"></td></tr>
<tr><td>旗舰克隆舱Capital Clone Vat Bay</td><td><input type="number" name="qj12" value="0" min="0"></td></tr>
<tr><td>旗舰末日武器安装位Capital Doomsday Weapon Mount</td><td><input type="number" name="qj13" value="0" min="0"></td></tr>
<tr><td>旗舰会战能源阵列Capital Siege Array</td><td><input type="number" name="qj14" value="0" min="0"></td></tr>
<tr><td>旗舰船只维护舱Capital Ship Maintenance Bay</td><td><input type="number" name="qj15" value="0" min="0"></td></tr>
<tr><td>旗舰联合机库舱Capital Corporate Hangar Bay</td><td><input type="number" name="qj16" value="0" min="0"></td></tr>
<tr><td>旗舰货柜舱Capital Cargo Bay</td><td><input type="number" name="qj17" value="0" min="0"></td></tr>

</table>
<input type="submit" value="开始计算">
<input type="reset" value="全部重置">
</form>
</body>
</html>
