<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table>
<tr>
	<td>高密度矿</td><td>所需数量</td><td>已有数量</td><td>jita buy当前单价</td>
</tr>
{% for i in kuang %}
<tr>
	<td>{{ i.0 }}</td>
	<td>{{ i.1 }}</td>
	<td>{{ i.2 }}</td>
	<td>{{ i.3 }}</td>
</tr>
{% endfor %}
</tr>
</table>
<span>总价：{{ cost }}</span>

<table>
<tr>
	<td>矿物</td><td>所需矿物</td><td>最终矿物</td><td>差值</td>
</tr><tr>
	<td>三钛合金Tritanium：</td><td>{{ n_santai }}</td><td>{{ f_santai }}</td><td>{{ m_santai }}</td>
</tr><tr>
	<td>同位聚合体Isogen：</td><td>{{ n_tongwei }}</td><td>{{ f_tongwei }}</td><td>{{ m_tongwei }}</td>
</tr><tr>
	<td>晶状石英Zydrine：</td><td>{{ n_jingzhuang }}</td><td>{{ f_jingzhuang }}</td><td>{{ m_jingzhuang }}</td>
	</tr><tr>
	<td>类晶体Pyerite：</td><td>{{ n_leijing }}</td><td>{{ f_leijing }}</td><td>{{ m_leijing }}</td>
	</tr><tr>
	<td>类银Mexallon：</td><td>{{ n_leiyin }}</td><td>{{ f_leiyin }}</td><td>{{ m_leiyin }}</td>
	</tr><tr>
	<td>超噬矿Megacyte：</td><td>{{ n_chaoshi }}</td><td>{{ f_chaoshi }}</td><td>{{ m_chaoshi }}</td>
	</tr><tr>
	<td>超新星Nocxium：</td><td>{{ n_chaoxin }}</td><td>{{ f_chaoxin }}</td><td>{{ m_chaoxin }}</td>
</tr>
</table>

</body>
</html> 


